@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:ital,wght@1,100;1,700&display=swap');
.anu {
    background-color: gold;
    background-position: center;
    background-attachment: fixed;
   

}
.ann {
    background-color: chocolate;
}
.ann1 {
    background-color: magenta;
}
.ann2 {
    background-color: tomato;
}
.navbar .logo {
    width: 4cm;
}
.na {
    background-color: aqua;
}
.form {
    display: inline;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
 .la {
    text-align: center;
 }